AZURE_SUBSCRIPTION_ID=
AZURE_LOCATION=
AZURE_RESOURCE_GROUP=
AZURE_WEB_APP_NAME=
AZURE_FUNCTION_APP_NAME=

ATLAS_API_KEY=
ATLAS_CAMPAIGN_ID_PT=
ATLAS_CAMPAIGN_ID_EN=
ATLAS_BASE_URL=https://api.youratlas.com/v1/api

BC_AGENT_API_KEY=
ATLAS_WEBHOOK_SECRET=
